* {
  box-sizing: border-box;
}

header {
  background-color: tomato;
}

main {
  overflow: hidden;
}

main nav {
  width: 30%;
  float: left;
  background-color: orange;
}

main section {
  width: 70%;
  float: right;
  background-color:  brown;
}

footer {
  background-color: limegreen;
}
